<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src= "bower/angular-route/angular-route.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/main.ctrl.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
