<div class="page-header">
   <h1>Angular Demo Task</h1>
</div>
<div ng-app="app" ng-controller="MainController" class="ng-scope container">
   <form class="well ng-valid ng-dirty" id="testForm">
      <em><label>Content</label></em>
      <label>Message</label>
      <input type="text" name="content.message" ng-model="newItem.content.message" class="ng-valid ng-dirty">
      <label>Network</label>
      <input type="text" name="content.network" ng-model="newItem.content.network" class="ng-valid ng-dirty">
      <label>PostType</label>
      <input type="text" name="content.postType" ng-model="newItem.content.postType" class="ng-valid ng-dirty">
      <em><label>Media</label></em>
      <label>Filename</label>
      <input type="text" name="content.media.fileName" ng-model="newItem.content.media.fileName" class="ng-valid ng-dirty">
      <label>URL</label>
      <input type="text" name="content.media.url" ng-model="newItem.content.media.url" class="ng-valid ng-dirty">
      <label>Tags</label>
      <input type="text" name="tags[]" ng-model="newItem.tags" class="ng-valid ng-dirty">
      <label>Status</label>
      <input type="text" name="status" ng-model="newItem.status" class="ng-valid ng-dirty">
      <em><label>Channels</label></em>
      <label>Name</label>
      <input type="text" name="channels[].name" ng-model="newItem.channels[0].name" class="ng-valid ng-dirty">  
      <label>Scheduled</label>
      <input type="text" name="scheduled" ng-model="newItem.scheduled" class="ng-valid ng-dirty" id="myDate">  
      <em><label>Geo</label></em>
      <label>Country Name</label>
      <input type="text" name="geo.countries[0].value" ng-model="newItem.geo.countries[0].value" class="ng-valid ng-dirty">
      <label>Country Key</label>
      <input type="number" name="geo.countries[0].key" ng-model="newItem.geo.countries[0].key" class="ng-valid ng-dirty">
      <label>Language</label>
      <input type="text" name="geo.languages[0].value" ng-model="newItem.geo.languages[0].value" class="ng-valid ng-dirty">
      <label>Language Key </label>
      <input type="number" name="geo.languages[0].key" ng-model="newItem.geo.languages[0].key" class="ng-valid ng-dirty">
      <label>City</label>
      <input type="text" name="geo.cities[0].value" ng-model="newItem.geo.cities[0].value" class="ng-valid ng-dirty">
      <label>City Key</label>
      <input type="number" name="geo.cities[0].key" ng-model="newItem.geo.cities[0].key" class="ng-valid ng-dirty">
      <label>Region</label>
      <input type="text" name="geo.regions[0].value" ng-model="newItem.geo.regions[0].value" class="ng-valid ng-dirty">
      <label>Region Key</label>
      <input type="number" name="geo.regions[0].key" ng-model="newItem.geo.regions[0].key" class="ng-valid ng-dirty">
      <br>
      <input type="button" value="Save" ng-click="saveItem()" class="btn btn-primary">
      <input type="button" value="Cancel" ng-click="cancelItem()" class="btn btn-primary">
   </form>
   <table class="table table-striped table-bordered">
      <thead>
         <tr>
            <th>Content Message</th>
            <th>Content network</th>
            <th>Status</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="item in items" class="ng-scope">
            <td>{{ item.content.message }}</td>
            <td>{{ item.content.network }}</td>
            <td>{{ item.status }}</td>
            <td>
               <a  href="" ng-click="editItem(item._id)">edit</a> |
               <a href="" ng-click="deleteItem(item._id)">delete</a>
            </td>
         </tr>
      </tbody>
   </table>
</div>